<!doctype html>
<html lang="en" class="no-js">
<style>
    background-image: "image/main.jpg";
</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://html5-templates.com/" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>My First Choice</title>
    <meta name="description" content="Simplified Bootstrap template with sticky menu">
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/sticky-menu.css')}}" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Home</a>
            </div>


            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">My Life</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#whatwedo">Recommand</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Logout</a>
                    </li>
                </ul>
            </div>	<!-- .navbar-collapse -->
        </div>		<!-- .container -->
    </nav>

    <!-- Welcome   -->
    <section id="welcome" class="welcome-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Profile</h1>
                    <img src="{{url_for('static',filename='image/main.jpg')}}" alt="Paris" class="center" style="width:50px;height:50px;">

                    <li>Age:</li>
                    <p>&nbsp;</p>
                    <li>Name:</li>
                    <p>&nbsp;</p>
                    <li>Bio:</li>
                    <p>&nbsp;</p>
                    <p>insert your content here</p>


                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>My Life</h1>
                    <p>insert your content here</p>
                </div>
                <div>
                    <li>Add New Post Here</li>
                    <form action="{{url_for('ui')}}" method="get" >
                        <button class="w3-button w3-xlarge w3-black" type="submit">+</button>
                    </form>
                    <!--<button class="w3-button w3-xlarge w3-black" onclick="window.location.href={{url_for('ui')}};">+</button>-->
                    <p>&nbsp</p>
                </div>
                <div>
                    <li>
                        <img src="{{url_for('static',filename='image/main.jpg')}}" alt="Paris" class="center" style="width:50px;height:50px;">
                        <img src="{{url_for('static',filename='image/main.jpg')}}" alt="Paris" class="center" style="width:50px;height:50px;">
                    </li>
                    <li>
                        <img src="{{url_for('static',filename='image/main.jpg')}}" alt="Paris" class="center" style="width:50px;height:50px;">
                        <img src="{{url_for('static',filename='image/main.jpg')}}" alt="Paris" class="center" style="width:50px;height:50px;">
                    </li>
                </div>
            </div>
        </div>
    </section>

    <!-- Recommand -->
    <section id="whatwedo" class="whatwedo-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Recommand</h1>
                </div>

            </div>
        </div>
        <div>
            <li>Upload a Photo to Start Recommendation</li>
            <p>&nbsp;</p>
            <form method="post" action="" name="upload_comparephoto">
                <center><input type="file" name="Desired Photo" accept="image/*" multiple></center>
                <p>&nbsp;</p>
                <center><input type="submit" name="upload"></center>
            </form>
            <!--<button class="w3-button w3-xlarge w3-circle w3-teal">+</button>-->
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                    <p>insert your content here</p>
                </div>
            </div>
        </div>
    </section>
	
	<a id="back2Top" title="Back to top" href="#">&#10148;</a>
	
    <!-- jQuery -->
    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{{url_for('static',filename='js/jquery.easing.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/sticky-menu.js')}}"></script>

</body>

</html>
