<!doctype html>
<html lang="en" class="no-js">
<style>
    #map {
        height: 100%;
        left:20px;
        width:400px;
        height:400px;
        border:2px solid:#73AD21
     }
     .profile-section{
        min-height:100vh;
        background:#fff;
        padding-top: 150px;
        text-align: center;
        background-image:url({{url_for('static',filename='image/background_one.jpg')}});
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;

     }
     .recommand_first{
        min-height:100vh;
        background:#fff;
        padding-top: 150px;
        text-align: center;
        background-image:url({{url_for('static',filename='image/bg3.jpg')}});
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;

     }
     .recommand_section{
        min-height:100vh;
        background:#fff;
        padding-top: 150px;
        text-align: center;
        background-image:url({{url_for('static',filename='image/bg4.jpg')}});
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
     }
     .contact-section{
        min-height:100vh;
        background:#fff;
        padding-top: 150px;
        text-align: center;
        background-image:url({{url_for('static',filename='image/main.jpg')}});
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
     }

</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://html5-templates.com/" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>My First Choice</title>
    <meta name="description" content="Simplified Bootstrap template with sticky menu">
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/sticky-menu.css')}}" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Home</a>
            </div>


            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#abou t">My Life</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#r1">Recommand</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#location">Recommand with Location</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{url_for('logout')}}">Logout</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{url_for('edit_profile')}}">Edit</a>
                    </li>
                </ul>
            </div>	<!-- .navbar-collapse -->
        </div>		<!-- .container -->
    </nav>

    <!-- Welcome   -->
    <section id="welcome" class="profile-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Profile</h1>
                    <img src="{{url_profile}}" alt="Paris" class="center" style="width:50px;height:50px;">

                    <li>username:{{username}}</li>
                    <p>&nbsp;</p>
                    <li>Bio:{{bio}}</li>
                    <p>&nbsp;</p>



                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>My Life</h1>

                </div>
                <div>
                    <li>Add New Post Here</li>
                    <form action="{{url_for('post')}}" method="get" >
                        <!-- need modification here-->
                        <button class="w3-button w3-xlarge w3-black" type="submit">+</button>
                    </form>

                    <p>&nbsp</p>
                </div>
                <div>
                    {%for index in url_list%}
                        <a><img src = '{{index}}' style="width:100px;height:100px;"> </a>
                    {%endfor%}
                </div>
            </div>
        </div>
    </section>

    <!-- Recommand -->
    <section id="r1" class="recommand_first">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Recommand</h1>
                </div>

            </div>
        </div>
        <div>
            <li>Upload a Photo to Start Recommendation</li>
            <p>&nbsp;</p>
            <form method="post" action="{{url_for('recommand')}}" enctype="multipart/form-data" method="post" name="upload_comparephoto">
                <center><input type="file" name="Desired Photo" accept="image/*" multiple></center>
                <p>&nbsp;</p>
                <center><input type="submit" name="Search"></center>
            </form>
            <div id="display_one">
                {%for item in matched%}
                <a href="{{url_for('browse',photo_username=item[1])}}"><img src = '{{item[0]}}' style="width:100px;height:100px;"></a>

                {%endfor%}
            </div>
            <!--<button class="w3-button w3-xlarge w3-circle w3-teal">+</button>-->
        </div>
    </section>

    <section id="location" class="recommand_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Recommand with Location</h1>
                </div>

            </div>
        </div>
        <div>
            <li>Upload a Photo to Start Recommendation</li>
            <p>&nbsp;</p>
            <form method="post" action="{{url_for('recommand')}}" enctype="multipart/form-data" method="post" name="upload_comparephoto">
                <center><input type="file" name="Desired Photo" accept="image/*" multiple></center>
                <p>&nbsp;</p>
                <label>Search Range(km)</label>
                <select name="range">
                    <option value="1">1</option>
                    <option value="10">10</option>
                    <option value="100">100</option>
                    <option value="1000">1000</option>
                    <option value="10000">10000</option>
                </select>
                <center><input type="submit" name="Search"></center>
            </form>

            <div id="map"></div>
            <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw_q8wg4axroiiJzsMkZTJPPS1jKTw6Ks&callback=initMap">
    </script>
            <div>
                {%for item in matched%}
                <a href="{{url_for('browse',photo_username=item[1])}}"><img src = '{{item[0]}}' style="width:100px;height:100px;"></a>

                {%endfor%}
            </div>
            <!--<button class="w3-button w3-xlarge w3-circle w3-teal">+</button>-->
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                    <li>email:{{email}}</li>
                    <p>&nbsp;</p>
                    <li>region:{{region}}</li>
                    <p>&nbsp;</p>

                </div>
            </div>
        </div>
    </section>
	
	<a id="back2Top" title="Back to top" href="#">&#10148;</a>
	
    <!-- jQuery -->
    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{{url_for('static',filename='js/jquery.easing.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/sticky-menu.js')}}"></script>

</body>

</html>
