<!DOCTYPE html>
<html lang="en">
<style>
    .login-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #DB5A5A;

}
</style>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>My First Choice</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://html5-templates.com/" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="description" content="Simplified Bootstrap template with sticky menu">
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/sticky-menu.css')}}" rel="stylesheet">
</head>
<body>
<script>
    function login_check(){
        var name=document.forms["loginform"]['login_username'].value;
        var pword=document.forms["loginform"]['login_password'].value;
        if (name==null || name==""){
            alert("Please fill in all lines!");
            return false;
        }
        if(pword==null || pword==""){
            alert("Please fill in all lines!");
            return false;
        }
    }
</script>
<script>
    function signup_check(){
        var name=document.forms["signupform"]['signup_username'].value;
        var pword=document.forms["signupform"]['signup_password'].value;
        var age=document.forms["signupform"]['Age'].value;
        var sex=document.forms["signupform"]['Sex'].value;
        var Bio=document.forms["signupform"]['Bio'].value;
        var email=document.forms["signupform"]['email'].value;
        var region=document.forms["signupform"]['region'].value;
        if (email==null || email==""){
            alert("Please fill in all lines!");
            return false;
        }
        if (region==null || region==""){
            alert("Please fill in all lines!");
            return false;
        }
        if (Bio==null || Bio==""){
            alert("Please fill in all lines!");
            return false;
        }
        if (age==null || age==""){
            alert("Please fill in all lines!");
            return false;
        }
        if(sex==null || sex==""){
            alert("Please fill in all lines!");
            return false;
        }
        if (name==null || name==""){
            alert("Please fill in all lines!");
            return false;
        }
        if(pword==null || pword==""){
            alert("Please fill in all lines!");
            return false;
        }
    }
</script>
<section id="login" class="login-section">
    <h1>My First Choice</h1>

        <div class="container">
            <h1>Login</h1>
            <br>
            <form method="post" action='' name="loginform" onsubmit="return login_check()">
                <li>
                    <label>username:</label>
                <input type="text" name="login_username" placeholder="username"/>

                </li>
                <li>
                    <label>password:</label>
                    <input type="password" name="login_password" placeholder="password"/>
                </li>
                <p>&nbsp;</p>
                <button class="w3-button w3-xlarge w3-black" type="submit">Login</button>


            </form>
            </br>
        </div>
    </section>

    <!-- About -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <h1>Register</h1>
                <form method="post" action='' name="signupform" onsubmit="return signup_check()">
                    <li>
                        <label>Name:</label>
                        <input type="text" name="signup_username" placeholder="Name"/>
                    </li>
                    <li>
                        <label>Age:</label>
                        <input type="text" name="Age" placeholder="Age"/>
                    </li>
                    <li>
                        <label>Sex:</label>
                        <input type="text" name="Sex" placeholder="boy or girl"/>
                    </li>
                    <li>
                        <label>Bio:</label>
                        <input type="text" name="Bio" placeholder="Bio"/>
                    </li>
                    <li>
                        <label>Password:</label>
                        <input type="password" name="signup_password" placeholder="password"/>
                    </li>
                    <li>
                        <label>Email:</label>
                        <input type="email" name="email" placeholder="email"/>
                    </li>
                    <li>
                        <label>Region or Address:</label>
                        <input type="text" name="region" placeholder="region or address"/>
                    </li>


                        <center>
                            <label>Profile Photo:</label>
                            <input type="file" name="Profile Photo" accept="image/*" multiple>
                        </center>


                    <p>&nbsp;</p>
                    <button class="w3-button w3-xlarge w3-black" type="submit">Register</button>

                </form>
            </div>
        </div>
    </section>
<script src="{{url_for('static',filename='js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{{url_for('static',filename='js/jquery.easing.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/sticky-menu.js')}}"></script>

</body>
</html>